# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\_maFiles\Documents\Study in Canada\UWindsor\SEM3-Fall2020\[IADS] Internet Appl Distributed Sys\mysite20\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
